<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap CRUD Data Table for Database with Modal Form</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/crud.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <%- include('./partialls/header.ejs') %>
    <div class="container">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>Manage <b>employees</b></h2>
            </div>
            <div class="col-sm-6">
              <a
                href="#addEmployeeModal"
                class="btn btn-success"
                data-toggle="modal"
                ><i class="material-icons">&#xE147;</i>
                <span>Add New employee</span></a
              >
              <a
                href="#deleteEmployeeModal"
                class="btn btn-danger"
                data-toggle="modal"
                ><i class="material-icons">&#xE15C;</i> <span>Delete</span></a
              >
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>
                <span class="custom-checkbox">
                  <input type="checkbox" id="selectAll" />
                  <label for="selectAll"></label>
                </span>
              </th>
              <th>first name</th>
              <th>last name</th>
              <th>national code</th>
              <th>gender</th>
              <th>is-ceo</th>
              <th>birth date</th>
              <th>company</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0;i < employees.length;i++) { %>
              <tr>
                <td>
                  <span class="custom-checkbox">
                    <input
                      type="checkbox"
                      id="checkbox1"
                      name="options[]"
                      value="1"
                    />
                    <label for="checkbox1"></label>
                  </span>
                </td>
                <td><%=employees[i].f_name%></td>
                <td><%=employees[i].l_name%></td>
                <td><%=employees[i].nationalCode%></td>
                <td><%=employees[i].gender%></td>
                <td>
                  <%if (employees[i].ceo) { %>
                    ceo
                  <% } else { %>
                    employee
                    <% } %>
                </td>
                <td><%=employees[i].birthDate%></td>
                <td><%=employees[i].company.name%></td>
                <td>
                  <a href="#editEmployeeModal" class="edit" data-toggle="modal" id="edit<%=employees[i]._id%>" onclick="editEmployee(this)"
                    ><i class="material-icons" data-toggle="tooltip" title="Edit"
                      >&#xE254;</i
                    ></a
                  >
                  <a
                    href="#deleteEmployeeModal"
                    id="<%=employees[i]._id%>"
                    onclick="deleteEmployee(this)"
                    class="delete"
                    ><i
                      class="material-icons"
                      data-toggle="tooltip"
                      title="Delete"
                      >&#xE872;</i
                    ></a
                  >
                </td>
              </tr>
            <%  }  %>





          </tbody>
        </table>

      </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h4 class="modal-title">Add employee</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>first name</label>
                <input type="text" class="form-control" required id="addEmployeeFirstName"/>
              </div>
              <div class="form-group">
                <label>last name</label>
                <input type="text" class="form-control" required id="addEmployeeLastName"/>
              </div>
              <div class="form-group">
                <label>company id</label>
                <input type="text" class="form-control" required id="addEmployeeCompanyId"/>
              </div>
              <div class="form-group">
                <label>national code</label>
                <input type="number" class="form-control" required id="addEmployeeNationalCode"/>
              </div>
              <hr>
              <div class="form-group">
                <label>male : </label>
                <input type="radio" name="gender" value="male" required>
                <label>female : </label>
                <input type="radio" name="gender" value="female" required>
              </div>      
              <hr>        
              <div class="form-group">
                <label>is-ceo</label>
                <input type="radio" name="ceo" value="true" required>
                <label>not-ceo</label>
                <input type="radio" name="ceo" value="false" required>
              </div>
              <hr>
              <div class="form-group">
              <label>birthDate</label>
                <input type="datetime-local" class="form-control" required id="addEmployeeBirthDate"/>
              </div>
            </div>
            <div class="modal-footer">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancel"
              />
              <input class="btn btn-success" value="Add" onclick="addNewEmployee()"/>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h4 class="modal-title">Edit employee</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"

              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>first name</label>
                <input type="text" class="form-control" id="newEmployeeFirstName" required />
              </div>
              <div class="form-group">
                <label>last name</label>
                <input type="text" class="form-control" id="newEmployeeLastName" required />
              </div>
              <div class="form-group">
                <label>company</label>
                <input type="text" class="form-control" id="newEmployeeCompany" required />
              </div>
              <div class="form-group">
                <label>national code</label>
                <input type="number" class="form-control" id="newEmployeeNationalCode" required />
              </div>
              <div class="form-group">
                <label>ceo</label>
                <input type="radio" name="is-ceo" id="is-ceo-true" value="true" required />
                <label>not ceo</label>
                <input type="radio" name="is-ceo" id="is-ceo-false" value="false" required />
              </div>
              <div class="form-group">
                <label>birth date</label>
                <input type="datetime" class="form-control" id="newEmployeeBirthDate" required />
              </div>
            </div>
            <div class="modal-footer">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancel"
              />
              <input class="btn btn-info" value="Save" onclick="editMyEmployee()"/>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h4 class="modal-title">Delete Employee</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete these Records?</p>
              <p class="text-warning">
                <small>This action cannot be undone.</small>
              </p>
            </div>
            <div class="modal-footer">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancel"
              />
              <input class="btn btn-danger" value="Delete All employees" id="deleteAll"/>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="/employees.js"></script>
  </body>
</html>
